body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    /*NAVEGADOR PARA LAS PAGINAS*/
nav {
    background-color: #dad9d9;
    color: white;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
    text-align: center;
}
nav ul li a {
    color: rgb(99, 99, 99);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
h1{
    font-size: 17px;
    text-align: center;
}
h2{
    font-size: 15px;
    text-align: center;
}
}

/*HEADER Y FOOTER*/
header, footer {
    background-color: #c4c4c4;
    padding: 10px 0;
    text-align: center;
    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 0 20px;
    }
    section {
        margin-bottom: 20px;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .navbar {
        background-color: #c4c4c4;
        align-items: center;
    }
    
}

/*carrusel de fotos del index*/

.alinear{
    display: flex;
    justify-content: center;
}
.carousel {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    .carousel-images {
        display: flex;
        transition: transform 0.5s ease;
        min-width: 100%;
    box-sizing: border-box;
    }
    .carousel-image img {
        width: 100%;
        display: block;
    }
    input[type="radio"] {
        display: none;
    }
    #slide1:checked ~ .carousel-images {
        transform: translateX(0);
    }
    
    #slide2:checked ~ .carousel-images {
        transform: translateX(-100%);
    }
    
    #slide3:checked ~ .carousel-images {
        transform: translateX(-200%);
    }
    
    .carousel-controls {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }
    
    .control-button {
        cursor: pointer;
        display: inline-block;
        padding: 10px;
        margin: 0 5px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 20px;
    }
    
    .control-button:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

/*Container Para productos*/
.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: flex;
    width: 100%;
    justify-content: center;
    .product-card {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        overflow: hidden;
        width: calc(33.333% - 20px);
        max-width: 300px;
    }
    .product-card img {
        width: 100%;
        height: auto;
    }
    .product-card .product-info {
        padding: 15px;
    }
    .product-card .product-title {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    .product-card .product-description {
        font-size: 0.9em;
        margin-bottom: 15px;
    }
    .product-card .product-button {
        background: #a6aaae;
        color: #fff;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        display: block;
        border-radius: 4px;
    }
    .product-card .product-button:hover {
        background: #33373a;
    }
}

/*Inicio de sesion*/
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    .login-form {
        max-width: 700px;
        width: 100%;
        padding: 60px;
        border: 1px solid #dee2e6;
        border-radius: 10px;
        background-image: url(../assets/nyx1---copia.jpg);
        
        
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

/*CARRITO DE COMPRAS (MODIFICANDOLO)*/
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    .cart-item img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .cart-summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
}

/*PRESENTACION DE QUIENES SOMOS*/
.company-presentation {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}